* {
    margin: 0;
    padding: 0;
}

.container-table {
  display: flex;
  flex-direction: column;
}
.title-table {
  display: flex;
  justify-content: center;
  margin: 0.67em 0 0;
}
.content-container-table {
  display: flex;
  justify-content: center;
}
